.sidebar,
.author__avatar,
.author__content,
.author__urls-wrapper {
  display: none !important;
}

/* 让右侧正文占满宽度 */
.archive,
.page__inner-wrap,
.page__content {
  width: 100% !important;
  max-width: none !important;
}


.page__inner-wrap {
  max-width: none;
}

.page__content {
  max-width: none;
  width: 100%;
}

/* 若仍然被整体容器卡住，再加宽主容器 */
#main,
.page {
  max-width: 2500px; /* 或 1800px/100% */
}
.page__content p {
  text-align: justify;
  text-justify: inter-word;
}

/* 让有序列表编号占固定宽度，正文对齐 */
.page__content ol {
  list-style-position: outside;
  padding-left: 2.2em;   /* 预留给“1.”的位置，可按需要调大/调小 */
  margin-left: 0;
}

.page__content ol > li {
  padding-left: 0;
}
