.sidebar,
.author__avatar,
.author__content,
.author__urls-wrapper {
  display: none !important;
}

/* 让右侧正文占满宽度 */
.archive,
.page__inner-wrap,
.page__content {
  width: 100% !important;
  max-width: none !important;
}

.page__inner-wrap { max-width: none; }

.page__content {
  max-width: none;
  width: 100%;
}

/* 若仍然被整体容器卡住，再加宽主容器 */
#main,
.page {
  max-width: 2500px; /* 或 1800px/100% */
}

/* 段落两端对齐（仅对 <p> 生效） */
.page__content p {
  text-align: justify;
  text-justify: inter-word;
}

.text-red { color: #d32f2f; }
.text-blue { color: #1976d2; }
.text-muted { color: #6b7280; }

.text-lg { font-size: 1.2em; }
.text-xl { font-size: 1.5em; }
.text-xll { font-size: 1.8em; }

.small-ol li::marker { font-size: 0.75em; }
small { font-size: 0.75em; }

/* 编号不缩进（编号贴左） */
.noindent{
  margin-left: 0;
  padding-left: 0;            /* 去掉 ol 默认缩进 */
  list-style-position: inside; /* 编号进入内容区，左边缘对齐 */
}

/* 列表条目两端对齐（不强行拉伸最后一行，所以不会出现你蓝框那种效果） */
.page__content ol.small-ol > li{
  text-align: justify;
  text-justify: inter-word;
  /* 中文为主可选：
  text-justify: inter-ideograph;
  */
}
