.sidebar,
.author__avatar,
.author__content,
.author__urls-wrapper {
  display: none !important;
}

/* 让右侧正文占满宽度 */
.archive,
.page__inner-wrap,
.page__content {
  width: 100% !important;
  max-width: none !important;
}


.page__inner-wrap {
  max-width: none;
}

.page__content {
  max-width: none;
  width: 100%;
}

/* 若仍然被整体容器卡住，再加宽主容器 */
#main,
.page {
  max-width: 2500px; /* 或 1800px/100% */
}
.page__content p {
  text-align: justify;
  text-justify: inter-word;
}

.text-red { color: #d32f2f; }
.text-blue { color: #1976d2; }
.text-muted { color: #6b7280; }


.text-lg { font-size: 1.2em; }
.text-xl { font-size: 1.5em; }
.text-xll { font-size: 1.8em; }
