
.page__inner-wrap {
  max-width: none;
}

.page__content {
  max-width: none;
  width: 100%;
}

/* 若仍然被整体容器卡住，再加宽主容器 */
#main,
.page {
  max-width: 2000px; /* 或 1800px/100% */
}
.page__content p {
  text-align: justify;
  text-justify: inter-word;
}
